body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  color: black;
  font-family: 'Segoe UI', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

#start-screen,
#leaderboard {
  text-align: center;
}

#start-screen input {
  padding: 10px;
  font-size: 18px;
  margin-bottom: 20px;
  width: 200px;
  text-align: center;
}

#start-screen button,
#leaderboard button {
  padding: 10px 20px;
  font-size: 18px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

#start-screen button:hover,
#leaderboard button:hover {
  background-color: #45a049;
}

#game-container {
  text-align: center;
}

canvas {
  background-color: #000;
  display: block;
  margin: 0 auto;
}

#score {
  margin-top: 10px;
  font-size: 20px;
}

#restartBtn,
#pauseBtn {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

#restartBtn {
  background-color: #2196F3;
  color: white;
}

#restartBtn:hover {
  background-color: #1976D2;
}

#pauseBtn {
  background-color: #FF9800;
  color: white;
}

#pauseBtn:hover {
  background-color: #FB8C00;
}

#leaderboard ul {
  list-style-type: none;
  padding: 0;
}

#leaderboard li {
  padding: 10px;
  border-bottom: 1px solid #000;
}
